<!doctype html>
<html>
    <head>
    </head>
    <body style="margin:0">
        <div style="max-width:1000px;margin:0 auto">
            <p style="margin:20px;font-family: Arial">You're receiving this email because you asked to track a <a style="color: #3a1c71" href="<%= @search_url %>">Trade-A-Plane search page</a> using our service, <a style="color: #3a1c71" href="https://tapdeals.cognitivesurpl.us">TAP Deals</a>. With this subscription, you get a few benefits:</p>
            <ul style="margin-left:40px;line-height:1.5em">
                <li style="font-family: Arial">Alerts on new planes for your search page with attached price analysis,</li>
                <li style="font-family: Arial">24-hour lead time on all tweets posted to <a style="color: #3a1c71" href="https://twitter.com/tap_deals">@TAP_Deals</a>,</li>
            </ul>
            <p style="margin:20px;font-family: Arial">By default, these emails will be sent daily as alerts are identified. If you subscribe to multiple searches, they will be rolled up into a single email. For any new search subscription, there's a complimentary 30 day trial to let you try it out first. If you have any issues, comments, concerns, or feature requests, reach out any time at <a style="color: #3a1c71" href="mailto:hello@cognitivesurpl.us">hello@cognitivesurpl.us</a></p>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;max-width:1000px;background:#000;height:80px;border-top:0;">
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <p style="margin-left:20px;color:#fff;font-size:10px;font-family: Arial">Thanks for using TAP Deals! Have a great day. Also! If you want to stop getting these, feel free to <a style="color: #FFAF7B"  href="http://tapdeals.cognitivesurpl.us/unsubscribe?subscription_id=<%= @subscription_id %>">unsubscribe</a>, or <a style="color: #FFAF7B"  href="http://tapdeals.cognitivesurpl.us/manage?subscription_id=<%= @subscription_id %>">manage alerts</a> to quiet them down a bit.</p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        <div>
    </body>
</html>